img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  p,
  ul {
    margin: 0;
  }

.slider {
 width: 600px;
	margin: 0 auto;
	padding: 0 15px;
  background-color: rgb(25, 26, 24);
}
.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 1;
    opacity: .75;
    color: #131024;
   
}
.slick-next {
    right: -23px;
}
.slick-prev {
    left: -32px;
}
p {
  color: aliceblue;
  font-size: 30px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
